#папки IDE
.idea
.vs

#папка логов
FonTech.Api

#папки релизов и временных файлов - нет им места на гитхабе, артём
Tech.Api/bin/
Tech.Api/obj/

Tech.Application/bin/
Tech.Application/obj/

Tech.DAL/bin/
Tech.DAL/obj/

Tech.Domain/bin/
Tech.Domain/obj/
Tech.Api/Tech.Api.csproj.user
Tech.Api/mydatabase1.db
Tech.Api/mydatabase1.db-shm
Tech.Api/mydatabase1.db-wal
